---
import {ChzzkProfile} from '@/components/chzzk/profile'
import {getChannel, getUser} from '@/lib/chzzk'

const user = await getUser(Astro.cookies)
console.log(user)
const channel = await getChannel([user.content.channelId], Astro.locals)
console.log(channel)
---

<section>
  <ChzzkProfile channel={channel} client:load />
</section>

<style lang="sass">
  @reference '@/styles/global.css'

  section
    @apply flex
</style>
