---
import {ChzzkAvatar} from '@/components/chzzk/avatar'
import {getChannel, getUser} from '@/lib/chzzk'

const user = await getUser(Astro.cookies)
const channel = await getChannel([user.content.channelId], Astro.locals)
---

<section>
  <ChzzkAvatar channel={channel} client:load />
</section>

<style lang="sass">
  @reference '@/styles/global.css'

  section
    @apply flex
</style>
