---
import {ChzzkAvatar} from '@/components/chzzk/avatar'
---

<section>
  <ChzzkAvatar client:load />
</section>

<style lang="sass">
  @reference '@/styles/global.css'

  section
    @apply flex
</style>
