@charset 'utf-8';

$primary: #6171eb;

#test,
#test-control {
  display: none;
}
#title {
  h1 {
    text-shadow:
      0.125em 0 0 $primary,
      -0.125em 0 0 $primary,
      0 0.125em 0 $primary,
      0 -0.125em 0 $primary,
      0.125em 0.125em 0 $primary,
      -0.125em -0.125em 0 $primary,
      0.125em -0.125em 0 $primary,
      -0.125em 0.125em 0 $primary,
      0 0.25em 0 $primary,
      -0.125em 0.25em 0 $primary,
      0.125em 0.25em 0 $primary;
    transform: translateY(-0.125em);
  }
  .sub {
    span {
      opacity: 1;
      &::before {
        text-shadow: 0.1em 0.1em 0 currentColor;
      }
    }
  }
  .btns {
    opacity: 1;
  }
  small {
    opacity: 1;
  }
}
section.splide {
  visibility: visible;
  margin-left: 10vw;
  margin-right: 10vw;
  .splide__track {
    overflow-x: visible;
    .splide__list {
      @apply columns-1 sm:columns-2 xl:columns-3;
      $gap: 1em;
      display: block;
      column-gap: $gap;
      .splide__slide {
        margin: 0;
        display: grid;
        grid-template-rows: 1fr auto;
        margin-bottom: $gap;
        break-inside: avoid;
        &::before {
          background-position: 0% 0%;
        }
        img {
          grid-row: 1 / -1;
          grid-column: 1;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
