@reference '@/styles/global.css'

$fonts: 14 14, 11 11, 11 11-Bold, 11 11-Condensed, 9 9, 7 7, Mono11 Mono11, Mono9 Mono9, Mono7 Mono7

@each $family, $file in $fonts
  @font-face
    font:
      family: Galmuri#{$family}-web
      style: normal
      @if $file == 11-Condensed
        stretch: condensed
      @else
        stretch: normal
      @if $file == 11-Bold
        weight: 700
      @else
        weight: 400
      display: block
    src: url('/fonts/Galmuri#{$file}.woff2') format('woff2')

[data-path^="/galmuri"]
  ::selection
    @apply bg-galmuri text-background
  header
    @include g(g7, 2)
    border-bottom-width: var(--px) !important
    .quiple
      font-size: 1em !important
      gap: var(--px) !important
      &::before
        mask-image: $q-pixel !important
  main
    @include g(g9, 2)
    @apply container-x pb-[2em]
    > :is(h2, h3, p, ul)
      @apply md:max-w-screen-sm lg:max-w-screen-md xl:max-w-screen-lg
    a
      @apply text-galmuri underline transition-all active:text-galmuri-invert
      text-decoration:
        skip-ink: none
        thickness: var(--px)
      text-underline-offset: var(--px)
      &:hover
        text-decoration-thickness: calc(var(--px) * 2)
      &[target=_blank]::after
        @apply bg-current inline-block w-[1em] h-[1em] content-['']
        mask:
          image: $new-tab
          repeat: no-repeat
          position: center
      &.button[target=_blank]::after
        mask-image: $new-tab-btn
  img
    image-rendering: pixelated
  .button
    @apply rounded-none shadow-none focus-visible:ring-(length:--px) focus-visible:ring-galmuri focus-visible:ring-offset-(length:--px)
    &:not(.icon-button)
      @apply h-[42px] pl-[12px] pr-[calc(12px_-_var(--px))]
    &.outline-button
      @apply border-(length:--px)
  [role=combobox]
    @apply h-[42px] rounded-none focus:ring-(length:--px) focus:ring-galmuri focus:ring-offset-(length:--px) border-(length:--px) relative pr-[calc(1em_+_(12px_-_var(--px))_*_2)]
    svg
      @apply hidden
    &::after
      @apply absolute right-[calc(12px_-_var(--px))] bg-current inline-block w-[1em] h-[1em] content-['']
      mask:
        image: $chevron-down
        repeat: no-repeat
        position: center
  .slider
    @include g(g7, 2)
    span
      @apply rounded-none
    .grow
      @apply h-[calc(var(--px)_*_2)]
      span
        @apply bg-galmuri
    [role=slider]
      @apply border-(length:--px) w-3.5 h-4 flex justify-center focus-visible:ring-(length:--px) focus-visible:ring-galmuri focus-visible:ring-offset-(length:--px) py-(--px)
      &::after
        @apply content-[''] border-shadow border-l-(length:--px) border-r-(length:--px) w-[calc(var(--px)_*_3)]
  .textarea
    @apply rounded-none focus-visible:ring-galmuri bg-zinc-100 dark:bg-zinc-900 border-none shadow-inner dark:shadow-sm
    --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / .025)
  h2
    @include g(g11, 2)
    @apply font-bold scroll-m-[.5em] mt-[2em] first:mt-0
  h3
    @apply scroll-m-[.5em] mt-[1em] first:mt-0
  p
    @apply [&:not(:first-child)]:mt-[.5em]
  ul
    @include g(g7, 2)
    @apply relative my-[.5em] pl-[1em] [&>li]:mt-[.5em]
    li::before
      @apply absolute left-[.25em] content-['\2022']
  pre
    @apply mt-[.5em] first:mt-0 px-[12px] py-[4px] shadow-inner dark:shadow-sm
    --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / .025)
  code, kbd, samp, pre
    @include g(gm7, 2)
    background-color: #f3f4f6 !important
    --shiki-dark-bg: #18181b !important
  [data-radix-popper-content-wrapper]
    @include g(g7, 2)
    [role=menu], [role=listbox]
      @apply border-(length:--px) rounded-none
      [data-radix-select-viewport]
        @apply min-w-[calc(var(--radix-select-trigger-width)_-_var(--px)_*_2)]
      [role=menuitem], [role=option]
        @apply rounded-none text-[1em]
      [role=option]
        svg
          @apply hidden
        &[data-state=checked]::before
          @apply absolute left-4 -translate-x-1/2 bg-current inline-block w-[1em] h-[1em] content-['']
          mask:
            image: $check
            repeat: no-repeat
            position: center
  [aria-roledescription=carousel]
    @include g(g7, 2)
    &::after
      @apply content-[''] block absolute top-0 right-0 w-[2em] h-full bg-background
      mask:
        repeat: repeat-y
        position: right
        size: 100%
        image: var(--fade)
    --fade: url('data:image/svg+xml,\
      <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">\
        <rect x="2" width="2" height="16" fill-opacity="0.125"/>\
        <rect x="4" width="2" height="16" fill-opacity="0.25"/>\
        <rect x="6" width="2" height="16" fill-opacity="0.375"/>\
        <rect x="8" width="2" height="16" fill-opacity="0.5"/>\
        <rect x="10" width="2" height="16" fill-opacity="0.625"/>\
        <rect x="12" width="2" height="16" fill-opacity="0.75"/>\
        <rect x="14" width="2" height="16" fill-opacity="0.875"/>\
      </svg>\
    ')
    button
      @apply top-20 sm:top-[calc(13rem_/_2)] md:top-[calc(15rem_/_2)] lg:top-36 xl:top-40 rounded-none shadow-none border-(length:--px) text-[1em] hidden md:flex
      svg
        @apply hidden
      &::after
        @apply bg-current inline-block w-[1em] h-[1em] content-['']
        mask:
          repeat: no-repeat
          position: center
      &:first-of-type::after
        mask-image: $chevron-left
      &:last-of-type::after
        mask-image: $chevron-right
    figure
      @apply table relative
      img, .overlay
        @apply h-40 sm:h-52 md:h-60 lg:h-72 xl:h-80
      .overlay
        @apply absolute top-0 left-0 w-full border-2 border-foreground/10
      figcaption
        @apply table-caption caption-bottom mt-(--px)
  footer
    @include g(g7, 2)
    .sns a
      @apply text-[1em]
      svg
        @apply hidden
      &::after
        @apply bg-current inline-block w-[1em] h-[1em] content-['']
        mask:
          repeat: no-repeat
          position: center
          size: calc(100% - var(--px))
          image: $bluesky
      &.github::after
        mask-image: $octicon
      &.bluesky::after
        mask-image: $bluesky
  .toggle-theme
    @apply text-[1em] after:bg-current after:inline-block after:w-[1em] after:h-[1em] after:[mask-image:var(--sun)] dark:after:[mask-image:var(--moon)]
    svg
      @apply hidden
    &::after
      mask:
        repeat: no-repeat
        position: center
        size: calc(100% - var(--px))
      --sun: url('data:image/svg+xml,\
        <svg viewBox="0 0 7 7" xmlns="http://www.w3.org/2000/svg">\
          <path d="M4 0H3V1H4V0Z"/>\
          <path d="M1 3H0V4H1V3Z"/>\
          <path d="M6 3H7V4H6V3Z"/>\
          <path d="M4 6H3V7H4V6Z"/>\
          <path d="M1 5H2V6H1V5Z"/>\
          <path d="M6 5H5V6H6V5Z"/>\
          <path d="M5 1H6V2H5V1Z"/>\
          <path d="M2 1H1V2H2V1Z"/>\
          <path d="M3 2H4V3H3V2Z"/>\
          <path d="M3 4H2V3H3V4Z"/>\
          <path d="M3 4V5H4V4H5V3H4V4H3Z"/>\
        </svg>\
      ')
      --moon: url('data:image/svg+xml,\
        <svg viewBox="0 0 7 7" xmlns="http://www.w3.org/2000/svg">\
          <path d="M2 0V1H1V2H0V5H1V6H2V7H5V6H6V5H7V3H6V4H3V1H4V0H2ZM3 4V5H5V6H2V5H1V2H2V4H3Z"/>\
        </svg>\
      ')
