@mixin g($font, $size: 1)
  $font-size: 12 !default
  @if $font == g14
    $font-size: 15
  @else if $font == g9 or $font == gm9
    $font-size: 10
  @else if $font == g7 or $font == gm7
    $font-size: 8
  font:
    @if $font == g14
      family: Galmuri14-web, sans-serif
    @else if $font == g11
      family: Galmuri11-web, sans-serif
    @else if $font == g9
      family: Galmuri9-web, sans-serif
    @else if $font == g7
      family: Galmuri7-web, sans-serif
    @else if $font == gm11
      family: GalmuriMono11-web, monospace
    @else if $font == gm9
      family: GalmuriMono9-web, monospace
    @else if $font == gm7
      family: GalmuriMono7-web, monospace
    size: calc(#{$font-size}px * $size)
  @if $font-size == 10
    mask-size: calc(100% - .25em)
  @else
    mask-size: 100%
  line-height: calc(#{$font-size}px * $size * 1.5 + var(--px))
  --px: calc(1em / #{$font-size})
  @if $font-size == 10
    [target=_blank]:not(.button)::after
      mask-size: calc(100% - var(--px) * 2)
  @else if $font-size == 8
    [target=_blank]:not(.button)::after
      @apply ml-[--px]
      mask-size: 100%
