---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import {buttonVariants} from '@/components/ui/button'
import Layout from '@/layouts/Layout.astro'

const {env} = Astro.locals.runtime

const interlockParams = new URLSearchParams({
  clientId: env.CHZZK_CLIENTID,
  redirectUri: env.CHZZK_REDIRECTURI,
  state: env.CHZZK_STATE,
})

const checkSignedIn = async () => {
  if (Astro.cookies.has('accessToken')) {
    const response = await fetch('https://openapi.chzzk.naver.com/open/v1/users/me', {
      method: 'get',
      headers: {
        'Content-Type': 'application/json',
        Authorization: `Bearer ${Astro.cookies.get('accessToken')}`,
      },
    })
    const data = await response.json()
    if (data.code === 200) {
      return true
    }
    return false
  }
  return false
}

const isSignedIn = await checkSignedIn()
---

<Layout>
  <Header />
  {isSignedIn ? (
    <main>로그인 상태입니다.</main>
  ) : (
    <main>
      <a
        class={buttonVariants()}
        rel="nofollow noreferrer noopener"
        href={`https://chzzk.naver.com/account-interlock?${interlockParams}`}>
        치지직으로 로그인
      </a>
    </main>
  )}
  <Footer />
</Layout>

<style lang="sass">
  @reference '@/styles/global.css'

  main
    @apply mx-auto px-16 pt-8 container flex items-center justify-center
</style>
