---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Layout from '@/layouts/Layout.astro'
import {checkSignedIn, createSession} from '@/lib/chzzk'
import {io} from 'socket.io-client'

const isSignedIn = await checkSignedIn(Astro.cookies, Astro.locals)

if (!isSignedIn) {
  return Astro.redirect('/chzzk')
}

const session = await createSession(Astro.cookies.get('accessToken')?.value)
const socketOption = {
  reconnection: false,
  forceNew: true,
  timeout: 3000,
  transports: ['websocket'],
}
const socket = io(session.content.url, socketOption)
socket.on('system', (data) => {
  console.log(data)
})
---

<Layout>
  <Header />
    <main>
      안녕하세요.
    </main>
  <Footer />
</Layout>

<style lang="sass">
  @reference '@/styles/global.css'

  main
    @apply mx-auto px-16 pt-8 container flex items-center justify-center
</style>
