---
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import Content from '@/contents/galmuri/download.mdx'
import Layout from '@/layouts/Layout.astro'
import '@/styles/galmuri.sass'
---

<Layout
  title="Galmuri 다운로드"
  description="작은 크기에서도 가독성 좋고 균형 있는 한글 비트맵 폰트."
>
  <Header />
  <main>
    <Content />
  </main>
  <Footer />
</Layout>

<style lang="sass" is:global>
  main
    [download]
      @include g(g7, 2)
      &::before
        @apply bg-current inline-block w-[1em] h-[1em] content-[''] mr-[--px]
        mask:
          image: $download
          repeat: no-repeat
          position: center
</style>
