---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Content from '@/contents/galmuri/index.mdx'
import Layout from '@/layouts/Layout.astro'
import '@/styles/galmuri.sass'
---

<Layout
  title="Galmuri"
  description="작은 크기에서도 가독성 좋고 균형 있는 한글 비트맵 폰트."
>
  <Header />
  <main>
    <h1>
      <span class="g">G</span>
      <span class="a">a</span>
      <span class="l">l</span>
      <span class="m">m</span>
      <span class="u">u</span>
      <span class="r">r</span>
      <span class="i">i</span>
    </h1>
    <Content />
  </main>
  <Footer />
</Layout>

<style lang="sass" is:global>
  $duration: .25s
  $delay: .125s
  @keyframes title
    to
      @apply opacity-100 transform-none
  main
    h1
      @include g(g7, 20)
      @apply flex text-white pl-[--px] items-center h-[calc(100vh_-_100px)] mb-[50px]
      span
        @apply opacity-0 translate-y-40
        &::before, &::after
          @apply [-webkit-text-stroke:calc(var(--px)_*_2)_hsl(var(--galmuri))] dark:[-webkit-text-stroke:calc(var(--px)_*_2)_hsl(var(--galmuri-invert))] absolute -z-10 left-0
        &::before
          @apply translate-y-[--px]
      .g
        @apply before:content-['G'] after:content-['G']
        animation: $duration $ease-out $delay forwards title
      .a
        @apply before:content-['a'] after:content-['a']
        animation: $duration $ease-out calc($delay * 2) forwards title
      .l
        @apply before:content-['l'] after:content-['l']
        animation: $duration $ease-out calc($delay * 3) forwards title
      .m
        @apply before:content-['m'] after:content-['m']
        animation: $duration $ease-out calc($delay * 4) forwards title
      .u
        @apply before:content-['u'] after:content-['u']
        animation: $duration $ease-out calc($delay * 5) forwards title
      .r
        @apply before:content-['r'] after:content-['r']
        animation: $duration $ease-out calc($delay * 6) forwards title
      .i
        @apply before:content-['i'] after:content-['i']
        animation: $duration $ease-out calc($delay * 7) forwards title
    .tester
      @apply flex flex-col gap-[.5em] mt-[1em]
      .control
        @apply flex justify-between gap-[1em]
        button
          @include g(g7, 2)
        .shuffle::before
          @apply bg-current inline-block w-[1em] h-[1em] content-[''] mr-[--px]
          mask:
            image: $shuffle
            repeat: no-repeat
            position: center
            size: 100%
        .left
          @apply flex flex-1 gap-[1em] items-center
          .tester-select, .tester-slider
            @apply basis-64
          .tester-font-size
            @include g(g7, 2)
            @apply tabular-nums
      textarea
        @apply px-[.5em] pt-[.25em] pb-[calc(.25em_-_var(--px))] leading-normal resize-none overflow-hidden
    [aria-roledescription=carousel]
      @include g(g7, 2)
      button
        @apply top-20 sm:top-[calc(13rem_/_2)] md:top-[calc(15rem_/_2)] lg:top-36 xl:top-40
      figure
        @apply table
        img
          @apply h-40 sm:h-52 md:h-60 lg:h-72 xl:h-80
        figcaption
          @apply table-caption caption-bottom mt-[--px]
    .sponsor
      @apply mt-[.5em] flex gap-[1em]
      svg
        @apply w-40 h-40
</style>
