---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Page Not Found">
  <main>
    <h1>404</h1>
    <p>This page cannot be found.</p>
  </main>
</Layout>

<style lang="sass">
  main
    @apply container mx-auto px-16 h-screen flex justify-center items-center flex-col
    h1
      @apply font-semibold text-5xl
</style>
