---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="페이지를 찾을 수 없음">
  <main>
    <h1>404</h1>
    <p>페이지를 찾을 수 없습니다.</p>
  </main>
</Layout>

<style lang="sass">
  main
    @apply container mx-auto px-16 h-screen flex justify-center items-center flex-col
    h1
      @apply font-semibold text-5xl
</style>
