---
import Content from '@/contents/galmuri.mdx'
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title="Galmuri"
  description="작은 크기에서도 가독성 좋고 균형 있는 한글 비트맵 폰트."
>
  <main>
    <Content />
  </main>
</Layout>

<style lang="sass" is:global>
  $display: block
  $path: '/fonts/'
  @font-face
    font:
      family: Galmuri14-web
      style: normal
      stretch: normal
      weight: 400
      display: $display
    src: url($path + 'Galmuri14.woff2') format('woff2')
  @font-face
    font:
      family: Galmuri11-web
      style: normal
      stretch: normal
      weight: 400
      display: $display
    src: url($path + 'Galmuri11.woff2') format('woff2')
  @font-face
    font:
      family: Galmuri11-web
      style: normal
      stretch: normal
      weight: 700
      display: $display
    src: url($path + 'Galmuri11-Bold.woff2') format('woff2')
  @font-face
    font:
      family: Galmuri11-web
      style: normal
      stretch: condensed
      weight: 400
      display: $display
    src: url($path + 'Galmuri11-Condensed.woff2') format('woff2')
  @font-face
    font:
      family: Galmuri9-web
      style: normal
      stretch: normal
      weight: 400
      display: $display
    src: url($path + 'Galmuri9.woff2') format('woff2')
  @font-face
    font:
      family: Galmuri7-web
      style: normal
      stretch: normal
      weight: 400
      display: $display
    src: url($path + 'Galmuri7.woff2') format('woff2')
  @font-face
    font:
      family: GalmuriMono11-web
      style: normal
      stretch: normal
      weight: 400
      display: $display
    src: url($path + 'GalmuriMono11.woff2') format('woff2')
  @font-face
    font:
      family: GalmuriMono9-web
      style: normal
      stretch: normal
      weight: 400
      display: $display
    src: url($path + 'GalmuriMono9.woff2') format('woff2')
  @font-face
    font:
      family: GalmuriMono7-web
      style: normal
      stretch: normal
      weight: 400
      display: $display
    src: url($path + 'GalmuriMono7.woff2') format('woff2')
  @mixin g($font, $size: 1)
    $font-size: 12 !default
    @if ($font == 'g14')
      $font-size: 15
    @else if ($font == 'g9' or $font == 'gm9')
      $font-size: 10
    @else if ($font == 'g7' or $font == 'gm7')
      $font-size: 8
    font:
      @if ($font == 'g14')
        family: Galmuri14-web, sans-serif
      @else if ($font == 'g11' or $font == 'g11b' or $font == 'g11c')
        family: Galmuri11-web, sans-serif
      @else if ($font == 'g9')
        family: Galmuri9-web, sans-serif
      @else if ($font == 'g7')
        family: Galmuri7-web, sans-serif
      @else if ($font == 'gm11')
        family: GalmuriMono11-web, sans-serif
      @else if ($font == 'gm9')
        family: GalmuriMono9-web, sans-serif
      @else if ($font == 'gm7')
        family: GalmuriMono7-web, sans-serif
      @if ($font == 'g11b')
        weight: 700
        stretch: normal
      @else if ($font == 'g11c')
        weight: 400
        stretch: condensed
      @else
        weight: 400
        stretch: normal
      size: calc(#{$font-size}px * $size)
    *
      text-decoration:
        skip-ink: none
        thickness: calc(1em / $font-size)
      text-underline-offset: calc(1em / $font-size)
      &:hover
        text-decoration-thickness: calc(1em / $font-size * 2)
  main
    @include g(g9, 2)
    @apply container mx-auto
    a
      @apply text-galmuri underline transition-all active:text-galmuri-invert
    h2
      @include g(g11, 2)
      @apply font-bold scroll-m-[.5em] mt-[1em] first:mt-0
    p
      @apply [&:not(:first-child)]:mt-[.5em]
</style>
