---
import Content from '@/contents/galmuri.mdx'
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title="Galmuri"
  description="작은 크기에서도 가독성 좋고 균형 있는 한글 비트맵 폰트."
>
  <main>
    <Content />
  </main>
</Layout>

<style lang="sass" is:global>
  $fonts: 14 14, 11 11, 11 11-Bold, 11 11-Condensed, 9 9, 7 7, Mono11 Mono11, Mono9 Mono9, Mono7 Mono7
  @each $family, $file in $fonts
    @font-face
      font:
        family: Galmuri#{$family}-web
        style: normal
        @if $file == 11-Condensed
          stretch: condensed
        @else
          stretch: normal
        @if $file == 11-Bold
          weight: 700
        @else
          weight: 400
        display: block
      src: url('/fonts/Galmuri#{$file}.woff2') format('woff2')

  @mixin g($font, $size: 1)
    $font-size: 12 !default
    @if $font == g14
      $font-size: 15
    @else if $font == g9 or $font == gm9
      $font-size: 10
    @else if $font == g7 or $font == gm7
      $font-size: 8
    font:
      @if $font == g14
        family: Galmuri14-web, sans-serif
      @else if $font == g11
        family: Galmuri11-web, sans-serif
      @else if $font == g9
        family: Galmuri9-web, sans-serif
      @else if $font == g7
        family: Galmuri7-web, sans-serif
      @else if $font == gm11
        family: GalmuriMono11-web, monospace
      @else if $font == gm9
        family: GalmuriMono9-web, monospace
      @else if $font == gm7
        family: GalmuriMono7-web, monospace
      size: calc(#{$font-size}px * $size)
    @if $font-size == 10
      mask-size: calc(100% - .25em)
    @else
      mask-size: 100%
    text-decoration:
      skip-ink: none
      thickness: calc(1em / $font-size)
    text-underline-offset: calc(1em / $font-size)
    &:hover
      text-decoration-thickness: calc(1em / $font-size * 2)

  $new-tab: url('data:image/svg+xml,\
    <svg viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg">\
      <path d="M0 8H7V5H6V7H1V2H3V1H0V8Z" />\
      <path d="M4 1V2H5V3H4V4H3V5H2V6H3V5H4V4H5V3H6V4H7V1H4Z" />\
    </svg>\
  ')
  $download: url('data:image/svg+xml,\
    <svg viewBox="0 0 8 8" xmlns="http://www.w3.org/2000/svg">\
      <path d="M3 1H4V5H5V6H4V7H7V8H0V7H3V6H2V5H3V1Z" />\
      <path d="M2 5H1V4H2V5Z" />\
      <path d="M5 5V4H6V5H5Z" />\
    </svg>\
  ')

  main
    @include g(g9, 2)
    @apply container mx-auto px-16 break-keep
    img
      image-rendering: pixelated
    a
      @apply text-galmuri underline transition-all active:text-galmuri-invert
      &[target=_blank]::after
        @apply bg-current inline-block w-[1em] h-[1em] content-['']
        mask:
          image: $new-tab
          repeat: no-repeat
          position: center
    h2
      @include g(g11, 2)
      @apply font-bold scroll-m-[.5em] mt-[2em] first:mt-0
    h3
      @apply scroll-m-[.5em] mt-[1em] first:mt-0
    p
      @apply [&:not(:first-child)]:mt-[.5em] leading-[32px]
      a
        @include g(g9, 2)
        &[target=_blank]::after
          @include g(g9, 2)
    ul
      @include g(g7, 2)
      @apply relative my-[.5em] pl-[1em] [&>li]:mt-[.5em] leading-[26px]
      li
        &::before
          @apply absolute left-[.25em] content-['\2022']
        a
          @include g(g7, 2)
          &[target=_blank]::after
            @apply mx-[.125em]
    code, kbd, samp, pre
      @include g(gm7, 2)
    & > :is(h2, h3, p, ul)
      @apply md:max-w-screen-sm lg:max-w-screen-md xl:max-w-screen-lg
    [aria-roledescription=carousel]
      @include g(g7, 2)
      figure
        @apply table
        img
          @apply h-40 sm:h-52 md:h-60 lg:h-72 xl:h-80
        figcaption
          @apply table-caption caption-bottom mt-[.5em]
          a
            @include g(g7, 2)
            &[target=_blank]::after
              @apply mx-[.125em]
    [download]
      @include g(g7, 2)
      &::before
        @include g(g7, 2)
        @apply bg-current inline-block w-[1em] h-[1em] content-['']
        mask:
          image: $download
          repeat: no-repeat
          position: center

</style>
