---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Content from '@/contents/index.mdx'
import Layout from '@/layouts/Layout.astro'
---

<Layout description="개인 웹사이트">
  <Header />
  <main class="prose">
    <Content />
  </main>
  <Footer />
</Layout>

<style lang="sass">
  @reference '@/styles/global.css'

  main
    @apply mx-auto px-16 pt-8 container
</style>
