---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Welcome">
  <Header />
  <main>
    안녕하세요. <a href="/galmuri">Galmuri</a>
  </main>
  <Footer />
</Layout>

<style lang="sass" is:global>
  main
    @apply container mx-auto px-16
</style>
