---
import { siBluesky } from 'simple-icons'
import { Button } from '@/components/ui/button'
---

<footer>
  <section>
    © 2019–2024 Lee Minseo
    <div class="sns">
      <Button className="button icon-button w-8 h-8" size="icon" variant="ghost" set:html={siBluesky.svg} />
    </div>
  </section>
</footer>

<style lang="sass">
  footer
    @apply sticky top-0 bg-background z-50 py-8
  section
    @apply container mx-auto px-16 flex justify-between items-center
</style>
