---
import { buttonVariants } from '@/components/ui/button'
import { siBluesky } from 'simple-icons'
import { siGithub } from 'simple-icons'
---

<footer>
  <section>
    © 2019–2024 Lee Minseo
    <div class="sns">
      <a
        class={`${buttonVariants({ variant: 'ghost', size: 'icon' })} button icon-button github`}
        href="https://github.com/quiple"
        set:html={siGithub.svg}
        target="_blank"
        rel="nofollow noreferrer noopener"
      />
      <a
        class={`${buttonVariants({ variant: 'ghost', size: 'icon' })} button icon-button bluesky`}
        href="https://bsky.app/profile/quiple.dev"
        set:html={siBluesky.svg}
        target="_blank"
        rel="nofollow noreferrer noopener"
      />
    </div>
  </section>
</footer>

<style lang="sass">
  footer
    @apply sticky top-0 bg-background z-50 py-8
    section
      @apply container mx-auto px-16 flex justify-between items-center
      .sns
        @apply flex items-center
        a
          @apply w-8 h-8 fill-current
</style>
