---
import { ModeToggle } from '@/components/ModeToggle'

interface Props {
  path?: string
}

const { path } = Astro.props
---

<header>
  <nav>
    quiple
    <ModeToggle client:load />
  </nav>
</header>

<style lang="sass">
  header
    @apply sticky top-0 border-b
  nav
    @apply container mx-auto flex justify-between items-center
</style>
