---
import { ModeToggle } from '@/components/ModeToggle'
---

<header>
  <nav>
    <a class="quiple" href="/">quiple</a>
    <ModeToggle client:load />
  </nav>
</header>

<style lang="sass">
  header
    @apply sticky top-0 border-b bg-background z-50 py-2
    nav
      @apply container mx-auto px-16 flex justify-between items-center
      .quiple
        @apply flex justify-center items-center gap-[.25em] text-lg font-medium
        &::before
          @apply bg-current inline-block w-4 h-4 content-['']
          mask:
            image: $q
            repeat: no-repeat
            position: center
</style>
