---
import {ModeToggle} from '@/components/ModeToggle'
---

<header>
  <div class="gradient-blur">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <nav>
    <a class="quiple" href="/">quiple</a>
    <ModeToggle client:load />
  </nav>
</header>

<style lang="sass">
  @reference '@/styles/global.css'

  header
    @apply sticky top-0 z-50 py-2
    nav
      @apply container-x flex justify-between items-center
      .quiple
        @apply flex justify-center items-center gap-[.25em] text-lg font-medium leading-none
        &::before
          @apply bg-current w-[1em] h-[1em] content-['']
          mask:
            image: $q
            repeat: no-repeat
            position: center
    .gradient-blur
      @apply top-0 fixed w-full h-16 bg-linear-to-b from-background/75 dark:from-background/50 to-transparent -z-10
      & > div,
      &::before,
      &::after
        @apply absolute inset-0
      &::before
        @apply z-[1] backdrop-blur-[.5px] content-['']
        mask: linear-gradient(
          to top,
          rgba(0,0,0,0) 0%,
          rgba(0,0,0,1) 12.5%,
          rgba(0,0,0,1) 25%,
          rgba(0,0,0,0) 37.5%
        )
      & > div:nth-of-type(1)
        @apply z-[2] backdrop-blur-[1px]
        mask: linear-gradient(
          to top,
          rgba(0,0,0,0) 12.5%,
          rgba(0,0,0,1) 25%,
          rgba(0,0,0,1) 37.5%,
          rgba(0,0,0,0) 50%
        )
      & > div:nth-of-type(2)
        @apply z-[3] backdrop-blur-[1.5px]
        mask: linear-gradient(
          to top,
          rgba(0,0,0,0) 25%,
          rgba(0,0,0,1) 37.5%,
          rgba(0,0,0,1) 50%,
          rgba(0,0,0,0) 62.5%
        )
      & > div:nth-of-type(3)
        @apply z-[4] backdrop-blur-[2px]
        mask: linear-gradient(
          to top,
          rgba(0,0,0,0) 37.5%,
          rgba(0,0,0,1) 50%,
          rgba(0,0,0,1) 62.5%,
          rgba(0,0,0,0) 75%
        )
      & > div:nth-of-type(4)
        @apply z-[5] backdrop-blur-[2.5px]
        mask: linear-gradient(
          to top,
          rgba(0,0,0,0) 50%,
          rgba(0,0,0,1) 62.5%,
          rgba(0,0,0,1) 75%,
          rgba(0,0,0,0) 87.5%
        )
      & > div:nth-of-type(5)
        @apply z-[6] backdrop-blur-[3px]
        mask: linear-gradient(
          to top,
          rgba(0,0,0,0) 62.5%,
          rgba(0,0,0,1) 75%,
          rgba(0,0,0,1) 87.5%,
          rgba(0,0,0,0) 100%
        )
      & > div:nth-of-type(6)
        @apply z-[7] backdrop-blur-[3.5px]
        mask: linear-gradient(
          to top,
          rgba(0,0,0,0) 75%,
          rgba(0,0,0,1) 87.5%,
          rgba(0,0,0,1) 100%
        )
      &::after
        @apply z-[8] backdrop-blur-[4px] content-['']
        mask: linear-gradient(
          to top,
          rgba(0,0,0,0) 87.5%,
          rgba(0,0,0,1) 100%
        )
</style>
