---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import Content from '@/contents/unicode.mdx'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="유니코드">
  <Header />
  <main class="container-x py-4">
    <div class="prose">
      <Content />
    </div>
  </main>
  <Footer />
</Layout>
